# ref: https://github.com/github/gitignore

# Vim
[._]*.sw[op]

# Python.gitignore
__pycache__/
*.py[cod]

# Django development DB
db.sqlite3

# Django migration files
migrations/

# Django media files
harness/media/

venv
